In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
y2015 = pd.read_csv(
    'LoanStats3d.csv',
    skipinitialspace=True,
    header=1,nrows=10000
)

c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

In [8]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [9]:
pd.get_dummies(y2015.drop('loan_status', 1))

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_Mar-2017,settlement_date_Mar-2018,settlement_date_May-2017,settlement_date_May-2018,settlement_date_Nov-2017,settlement_date_Nov-2018,settlement_date_Oct-2017,settlement_date_Oct-2018,settlement_date_Sep-2017,settlement_date_Sep-2018
0,NaN,NaN,35000,35000,35000,12.88,794.21,106000.0,17.36,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,23850,23850,23850,17.27,596.21,68046.0,24.71,1,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,15000,15000,15000,10.78,324.50,65000.0,29.28,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,7200,7200,7200,17.27,257.67,20000.0,13.21,1,...,0,0,0,0,1,0,0,0,0,0
4,NaN,NaN,17475,17475,17475,13.99,597.17,39750.0,23.58,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,20000,20000,20000,5.32,602.30,65000.0,18.83,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,18000,18000,18000,7.49,559.83,75000.0,25.65,0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,16000,16000,16000,12.88,363.07,90000.0,6.39,0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,24000,24000,24000,9.80,507.58,77900.0,10.24,0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,10000,10000,10000,12.88,336.37,91392.0,9.44,0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,16250,16250,16250,13.44,373.41,50000.0,34.95,0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,4200,4200,4200,13.99,143.53,32000.0,31.02,0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,12000,12000,12000,9.17,382.55,39400.0,26.32,0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,11950,11950,11950,13.44,405.18,34000.0,10.20,0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,20000,20000,20000,14.85,691.84,110000.0,12.45,0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,12000,12000,12000,5.32,361.38,53750.0,15.30,1,...,0,0,0,0,0,0,0,0,0,0
16,NaN,NaN,10000,10000,10000,16.59,246.33,30000.0,30.84,0,...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,15000,15000,15000,9.80,482.61,92000.0,13.89,0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,18500,18500,18500,12.88,419.80,70000.0,13.20,0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,5000,5000,5000,13.44,169.54,79000.0,12.70,0,...,0,0,0,0,0,0,0,0,0,0
20,NaN,NaN,35000,35000,35000,11.99,778.38,128000.0,6.46,0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,5000,5000,5000,9.80,160.87,72000.0,6.52,0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,6000,6000,6000,7.91,187.77,105000.0,14.45,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,NaN,24700,24700,24700,11.99,820.28,65000.0,16.06,1,...,0,0,0,0,0,0,0,0,0,0
24,NaN,NaN,20000,20000,20000,6.49,612.89,55000.0,29.15,0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,NaN,10400,10400,10400,22.45,289.91,104433.0,25.37,1,...,0,0,0,0,0,0,0,0,0,0
26,NaN,NaN,20000,20000,20000,10.78,432.66,63000.0,10.78,0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,NaN,14650,14650,14650,20.50,392.23,43160.0,21.44,0,...,0,0,0,0,0,0,0,0,0,0
28,NaN,NaN,2500,2500,2500,17.27,89.47,50000.0,17.60,3,...,0,0,0,0,0,0,0,0,0,0
29,NaN,NaN,35000,35000,35000,14.85,829.90,110000.0,17.06,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9968,NaN,NaN,7000,7000,7000,11.22,229.91,36200.0,14.16,0,...,0,0,0,0,0,0,0,0,0,0
9969,NaN,NaN,25000,25000,25000,18.99,648.38,85000.0,16.16,0,...,0,0,0,0,0,0,0,0,0,0
9970,NaN,NaN,15000,15000,15000,9.76,482.32,83000.0,30.89,0,...,0,0,0,0,0,0,0,0,0,0
9971,NaN,NaN,20000,20000,20000,11.22,656.86,100000.0,7.01,0,...,0,0,0,0,0,0,0,0,0,0
9972,NaN,NaN,28000,28000,28000,14.48,658.50,75000.0,33.95,1,...,0,0,0,0,0,0,0,0,0,0
9973,NaN,NaN,8000,8000,8000,7.26,247.97,75000.0,19.52,0,...,0,0,0,0,0,0,0,0,0,0
9974,NaN,NaN,20000,20000,20000,9.76,643.10,146000.0,16.23,0,...,0,0,0,0,0,0,0,0,0,0
9975,NaN,NaN,16000,16000,16000,10.64,521.10,75000.0,14.34,0,...,0,0,0,0,0,0,0,0,0,0
9976,NaN,NaN,6000,6000,6000,7.89,187.72,60000.0,25.52,0,...,0,0,0,0,0,0,0,0,0,0
9977,NaN,NaN,5600,5600,5600,11.22,183.93,36000.0,28.25,2,...,0,0,0,0,0,0,0,0,0,0
9978,NaN,NaN,10000,10000,10000,6.24,305.31,45000.0,4.16,0,...,0,0,0,0,0,0,0,0,0,0
9979,NaN,NaN,35000,35000,34850,18.49,898.13,100000.0,31.36,1,...,0,0,0,0,0,0,0,0,0,0
9980,NaN,NaN,10000,10000,10000,6.89,308.27,125000.0,13.27,0,...,0,0,0,0,0,0,0,0,0,0
9981,NaN,NaN,6500,6500,6500,9.17,207.22,60000.0,24.34,0,...,0,0,0,0,0,0,0,0,0,0
9982,NaN,NaN,12000,12000,11750,10.64,390.83,45000.0,24.16,5,...,0,0,0,0,0,0,0,0,0,0
9983,NaN,NaN,16000,16000,16000,6.24,488.50,105000.0,31.02,2,...,0,0,0,0,0,0,0,0,0,0
9984,NaN,NaN,12000,12000,12000,16.99,298.17,58000.0,18.09,1,...,0,0,0,0,0,0,0,0,0,0
9985,NaN,NaN,25000,25000,25000,11.99,830.24,210000.0,10.59,0,...,0,0,0,0,0,0,0,0,0,0
9986,NaN,NaN,5000,5000,5000,13.67,170.09,48000.0,10.53,0,...,0,0,0,0,0,0,0,0,0,0
9987,NaN,NaN,11900,11900,11900,16.99,424.21,33100.0,36.66,0,...,0,0,0,0,0,0,0,0,0,0
9988,NaN,NaN,6000,6000,6000,6.24,183.19,85000.0,13.16,0,...,0,0,0,0,0,0,0,0,0,0
9989,NaN,NaN,18000,18000,18000,18.49,461.90,55000.0,15.88,0,...,0,0,0,0,0,0,0,0,0,0
9990,NaN,NaN,1000,1000,1000,13.67,34.02,20000.0,33.79,1,...,0,0,0,0,0,0,0,0,0,0
9991,NaN,NaN,15000,15000,15000,7.26,464.95,55700.0,18.79,0,...,0,0,0,0,0,0,0,0,0,0
9992,NaN,NaN,12000,12000,12000,8.38,378.15,40000.0,13.86,0,...,0,0,0,0,0,0,0,0,0,0
9993,NaN,NaN,14000,14000,14000,18.49,359.26,85000.0,18.17,0,...,0,0,0,0,0,0,0,0,0,0
9994,NaN,NaN,18000,18000,18000,10.64,388.14,118000.0,18.15,5,...,0,0,0,0,0,0,0,0,0,0
9995,NaN,NaN,35000,35000,35000,9.17,1115.77,100000.0,21.61,0,...,0,0,0,0,0,0,0,0,0,0
9996,NaN,NaN,24000,24000,24000,18.99,622.45,59000.0,19.89,0,...,0,0,0,0,0,0,0,0,0,0
9997,NaN,NaN,6000,6000,6000,15.41,209.20,35000.0,16.90,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\sakok\appdata\local\programs\python\python36-32\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([ 0.98303393,  0.98003992,  0.9740519 ,  0.98      ,  0.98198198,
        0.97397397,  0.98198198,  0.98698699,  0.97995992,  0.97995992])

In [21]:
# This is the model we'll be using.
from sklearn import tree

# A convenience for displaying visualizations.
from IPython.display import Image

# Packages for rendering our tree.
import pydotplus
import graphviz

# Initialize and train our tree.
decision_tree = tree.DecisionTreeClassifier(
    criterion='entropy',
    max_features=1,
    max_depth=4
)
decision_tree.fit(X, Y)

# Render our tree.
cross_val_score(decision_tree, X, Y, cv=10)
#graph = pydotplus.graph_from_dot_data(dot_data)
#Image(graph.create_png())

array([ 0.50798403,  0.51596806,  0.51297405,  0.506     ,  0.62062062,
        0.51151151,  0.50850851,  0.50850851,  0.51102204,  0.50901804])